.filters {
  display: flex;
  justify-content: space-evenly;
  padding: 2px;
  width: 100%;
  height: 100%;
  color: white;
}

.filter-label {
  color: cornflowerblue;
}

.filters-container {
  width: 100%;
  height: 100%;
  display: flex;
}

.filter-reset-btn {
  background-color: darkturquoise;
  border: none;
  color: #ffffff;
  width: 100px;
  height: 100%;
  float: right;
}